---
import Layout from "../../layouts/Layout.astro";
import Biography from "../../components/page-base/Biography.astro";
import biographyData from "../../data/biography.json";

const language: "en" | "rs" = "rs";
---

<Layout title="Milan Petković" page="Biography" language={language}>
  <main>
    <Biography
      title={biographyData[language].title}
      paragraphs={biographyData[language].content}
      imageAlt={biographyData[language].imageAlt}
    />
  </main>
</Layout>
