---
import type { Language } from "../bin/types";

export interface Props {
  language: Language;
}

const { language } = Astro.props;
---

<language-switcher class="flex text-sm">
  <button
    class={language === "en" ? "lang-btn lang-btn__active" : "lang-btn"}
    data-lang="en">EN</button
  >
  <span class="self-center">/</span>
  <button
    class={language === "rs" ? "lang-btn lang-btn__active" : "lang-btn"}
    data-lang="rs">RS</button
  >
</language-switcher>

<script>
  import type { Language } from "../bin/types";
  import { setLanguage } from "../bin/language";

  class LanguageSwitcher extends HTMLElement {
    constructor() {
      super();

      const buttons = this.querySelectorAll(
        ".lang-btn"
      ) as NodeListOf<HTMLElement>;

      function switchLanguage(language: Language) {
        const pathFragments: string[] = window.location.pathname.split("/");
        pathFragments[1] = language;
        const newPath: string = pathFragments.join("/");
        window.location.href = newPath;
      }

      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const language: Language = button.dataset.lang as Language;
          const selectedLanguage = language;
          switchLanguage(selectedLanguage);
          setLanguage(selectedLanguage);
        });
      });
    }
  }

  customElements.define("language-switcher", LanguageSwitcher);
</script>

<style>
  .lang-btn {
    @apply px-3 focus:outline-none;
  }
  .lang-btn__active {
    @apply text-fluo-green;
  }
</style>
