---
import type { Lang } from "../bin/language";

export interface Props {
  language: Lang;
}

const { language } = Astro.props;
---

<div class="flex text-sm">
  <button
    class={language === "en" ? "lang-btn lang-btn__active" : "lang-btn"}
    data-lang="en">EN</button
  >
  <span class="self-center">/</span>
  <button
    class={language === "rs" ? "lang-btn lang-btn__active" : "lang-btn"}
    data-lang="rs">RS</button
  >
</div>

<style>
  .lang-btn {
    @apply px-3 focus:outline-none;
  }
  .lang-btn__active {
    @apply text-fluo-green;
  }
</style>

<script>
  import { Lang, setLanguage } from "../bin/language";

  const buttons = document.querySelectorAll(
    ".lang-btn"
  ) as NodeListOf<HTMLElement>;

  function switchLanguage(language: Lang) {
    const pathFragments: string[] = window.location.pathname.split("/");
    pathFragments[1] = language;
    const newPath: string = pathFragments.join("/");
    window.location.href = newPath;
  }

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const language: Lang = button.dataset.lang as Lang;
      const selectedLanguage = language;
      switchLanguage(selectedLanguage);
      setLanguage(selectedLanguage);
    });
  });
</script>
