---
import type { PublicationData } from "../bin/types";

export interface Props {
  publication: PublicationData;
  centered?: boolean;
}

const { publication, centered } = Astro.props;
---

<a
  href={publication.url}
  class={`${
    centered ? "flex flex-col items-center" : "hover:shadow-bottom-fluo"
  } block mt-8 first:mt-0 md:opacity-80 md:hover:opacity-100`}
>
  <p class="text-lg max-w-2xl font-semibold">
    {publication.title}
  </p>

  <p class="underline text-fluo-green">{publication.source}</p>
</a>
