---
import { Image } from "@astrojs/image/components";
import type { Language } from "../bin/types";

import imageOfMilan from "../images/milan_profile.jpg";

import i18nData from "../data/i18n_data.json";
import biographyData from "../data/biography.json";
export interface Props {
  language: Language;
}

const { language } = Astro.props;
---

<h1 class="text-2xl">{i18nData.biography.title[language]}</h1>

<div class="mt-4">
  <Image
    src={imageOfMilan}
    alt={biographyData.imageAlt[language]}
    class="float-none mb-0 ml-0 md:float-right md:ml-8 md:mb-8"
  />

  {
    biographyData.content[language].map((paragraph) => (
      <p class="mt-4">{paragraph}</p>
    ))
  }

  <a
    href="https://sr.wikipedia.org/wiki/Milan_Petković"
    class="inline-block mt-4 underline opacity-75 text-fluo-green hover:opacity-100"
  >
    Wikipedia
  </a>
</div>
