---
import type { Locale } from "../bin/types";
import EventLink from "../components/EventLink.astro";
import UpcomingEvent from "../components/UpcomingEvent.vue";

interface Event {
  date: string;
  time: string;
  place: string;
  town: string;
  link: string;
}

export interface Props {
  title: string;
  events: Event[];
  locale: Locale;
}

const { title, events, locale } = Astro.props;
---

<UpcomingEvent events={events} client:load />

<div class="mt-6">
  <h2 class="text-2xl">{title}</h2>

  {events.map((event) => <EventLink event={event} locale={locale} />)}
</div>
